<div><h2 class = "card text-center">Messages Received</h2>
Our blog has received <span style="color: Blue"><%= Contact.all.size %></span> message(s)!

<ul>
  <% @contacts.each do |contact| %>
    <li class="card m-2 text-center" style="width: 15rem">
      <%= link_to contact.email, contact %>
    </li>
  <% end %>
</ul>
<button class="btn btn-sm btn-warning m-2"><%= link_to "Back",articles_path(), style: "color : white"%></button> 