<div><h2 class = "card text-center">Message detail</h2>
<div>
<p><span class= "font-weight-bold">Email: </span><%= @contact.email %>
<span class= "font-weight-bold">Subject: </span><%=@contact.subject%>
<span class= "font-weight-bold">Message body: </span><%= @contact.message%></p>
</div>
</div>