<div><h2 class = "card text-center">Message detail</h2>
<div>
<p><span class= "font-weight-bold">Email: </span><%= @contact.email %>
<span class= "font-weight-bold">Subject: </span><%=@contact.subject%>
<span class= "font-weight-bold">Message body: </span><%= @contact.message%></p>
</div>
<button class="btn btn-danger btn-sm ml-2 text-white">
<%= link_to "Delete", contact_path(@contact),
                  method: :delete,
                  data: { confirm: "Are you sure?" } , style:"color: white"%>
</button>
</div>